@import "../variables";
@import "../breakpoints";

.banner-container {
  background-image: url("../../../public/media/home/banner-mobile.png");
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  @include breakpoint-md {
    background-image: url("../../../public/media/home/banner-mobile.png");
    background-position: center;
    justify-content: center;
  }

  p {
    background-color: #fff;
    margin: 170px 0 0 0;
    align-self: flex-end;
    justify-self: flex-end;
    width: 85%;
    border-bottom: solid $primary 1px;
    @include breakpoint-sm {
      margin: 300px 0 0 0;
    }
    @include breakpoint-md {
      margin: 450px 0 0 0;
      width: 80%;
    }
    @include breakpoint-lg {
      width: 60%;
    }
    &::first-letter {
      color: $primary;
    }
  }
}