@import "../../variables";
@import "../../breakpoints";

.signin-form-container {
  background-color: #F5F5F5;
  padding: 20px;
  width: 100%;
  
  @include breakpoint-sm {
    padding: 10% 20%;
  }
  @include breakpoint-md {
    padding: 5% 30%;
  }
  @include breakpoint-xxl {
    padding: 5% 38%;
  }
}